/* Set the styles for the form */
form {
    width: 40rem;
    height:36rem;
    margin:0 auto; 
    padding: 1rem;
    box-sizing: border-box;
    border: solid rgb(127, 134, 134) 0.8rem
}


/* Set the styles for the label */
label {
    font-size:large;
    font-weight: bold;
    color : rgb(15, 127, 197);
    font-family: 'Times New Roman', Times, serif;
}

/* Set the styles for the input type=text*/
input[type=text] {
    font-family :Arial, Helvetica, sans-serif;
    font-size: medium;
    color: blue;
    width: 100%;
    padding:0.5rem;
    margin:0;
    display: inline-block;
    box-sizing:border-box;
    border: solid lightgray 0.2rem;
    border-radius: 0.5rem;
}

/* Set the styles for the focus of the input*/
input:focus {
    background: lightgrey;
    border-radius: 0.2rem;
}

/* Set the styles for the submit and reset buttons*/
input[type=submit], input[type=reset] {
    font-weight: bold;
    font-style: normal;
    font-size: large;
    color : steelblue;
    border-radius: 1.5rem;
    border: 0.8rem solid;
}

/* Change the color of the color when hover*/
input[type=submit]:hover, input[type=reset]:hover  {
    background-color: turquoise;
}

/* Set the style for error messages written to the DOM */
#errormsg {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color : red;
    font-weight: bold;
    font-size:0.8rem;
}


/* Change the color of the label of the radio button when checked */
input[type=radio]:checked+label {
    display: inline-block;
    background-color:thistle;
    cursor:pointer;
}

/* Change the color of the label of the checkbox when checked */
input[type=checkbox]:checked+label {
    background-color: thistle;   
}
