:root {
    --maincolor: #ffb3ff;
    --lightpurple:#ffe6ff;
    --darkpurple:#cc66ff;
    --mediumpurple:#df99ff;
    --bluecolor: #3333cc;
    --lightgray: lightgray;
    --darkgray:#b3b3b3;
    --blackcolor: #000000;
    --whitecolor: #f2f2f2;
    --aquamarine: #66ffe0;
    --mediumblue:#5c85d6;
    --lightblue: #80aaff;
    --chetwodeblue:#7575a3;
  }
  
  /* All fonts should be Helvetica, Arial and sans-serif */
  * {
      font-family :Arial, Helvetica, sans-serif;
    }
  
    /* declare header for grid */
    .page-header {
        grid-area: header;
    }
  
     /* declare footer for grid */
    .page-footer {
        grid-area: footer; 
        margin-top: 6rem;
    }
  
    /* declare content for grid */
    .content {
      grid-area: content;
    }
  
    
    /* delcare experience-header for grid */
    .experience-header {
      grid-area:experienceHeader;
    }
  
    /* delcare experience-highlights for grid */
    .experience-highlights {
      grid-area: experienceHighlights;
    }
  
    /* delcare experience-details for grid */
    .experience-details {
      grid-area:experienceDetails;
    }
  
    /* delcare skills-header for grid */
    .skills-header {
      grid-area: skillsHeader;
    }
  
    /* delcare skills-details for grid */
    .skills-details {
      grid-area: skillsDetails;
    }
  
    /* delcare education-header for grid */
    .education-header {
      grid-area: educationHeader;
    }
  
     /* delcare education-details for grid */
    .education-details {
      grid-area: educationDetails;
    }
  
    /* delcare presentation-header for grid */
    .presentation-header {
      grid-area: presentationHeader;
    }
  
    /* delcare presentation-video for grid */
    .presentation-video {
      grid-area: presentationVideo;
    }
  
    /*declare bio-header for grid */
    .bio-header {
      grid-area: bioHeader;
    }
  
     /*declare bio-details for grid */
     .bio-details {
      grid-area: bioDetails;
    }
  
    /* Heading 1 styles - set the font family and color */ 
    h1 {
      font-family : Serif, sans-serif, Arial;
      color : var(--maincolor);
      text-align: center;
      font-size: 2.5rem;
      font-style: italic;
      font-weight: bold;
    }
  
    /* Heading 2 styles - set the font family and color. */
    h2 {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: center;
      color : var(--bluecolor);
      margin: 3rem;
      font-size: 2rem;
      font-style: italic;
      font-weight: bold;
    }
  
    /* Heading 3 styles - set the font family and color. */
    h3 {
      font-family :cursive;
      font-size: 1.5rem;
      text-align: left;
      color : var(--lightblue);
      text-indent: 1rem;
      font-style: italic;
      font-weight: bold;
    }
  
     /* Heading 4 styles - set the font family and color. */
     h4 {
      font-family :monospace;
      font-size: 1.3rem;
      text-align: center;
      color : var(--blackcolor);
      font-style: italic;
      font-weight: bold;
    }
    
    /* Paragraph styles - set text indent for the first line
      of paragraph. */
    p {
      text-indent: 3rem;
      padding-left: 0.5rem;
    }
  
  
    /* address styles - align the position, add the border, background color
       set the font family and size and align the items and text in the address box*/
       .address {
        align-items: center;
        width:22rem;
        font-family: cursive;
        font-size: small;
        border: 0.5rem solid var(--maincolor);
        background-color: var(--lightgray);
        color : var(--blackcolor);
      }
       
      /*  author name styles - set the color and the font weight */
      .author-name {
        color : var(--darkpurple);
        font-weight: bold;
      }
    
      
  
    /* navigation bar styles - set the background color */
    nav {
      background-color: var(--darkgray);
    }
  
    /* the lists in the navigation bar styles - remove the bullet and set 
       the height of the line. */
    nav ul li {
      list-style-type:none;
      line-height: 2rem;
    } 
  
    /* the links in the navigation bar styles - set the font family, size and color.
       Set the padding and margin of the links and the backgrouond color and time for transition. */
    nav > ul > li > a {
      color: var(--blackcolor);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      padding: 1rem;
      margin:2rem;
      transition: .3s background-color;
    }
  
    /* navigation list hover styles - set the background color when the 
       mouse hover to the link. */
    nav li:hover, nav li:active {
      background-color: var(--lightpurple);
    }
  
  
    /* Main page image grid styles - set the page-image grid,
      set the padding, float and width of the content in the grid. */
    .main-page-image {
      grid-area: page-image;
      padding: 2rem;
      width: 80%;
    }
  
    /* Don't display medium and large image in main page */
    .image-medium, .image-large {
      display:none;
    }
  
    /* Don't display large profile image. */
    .profile-image {
      display:none;
      width : 20rem;
      height: 25rem;
    }
  
    /* Set the size of the small profile image. */
    .small-profile-image {
      width: 10rem;
      height:15rem;
    }
  
    /* Set the display of the section. */
    .section {
      display: block;
    }
  
    /* Set the education image responsive to screen size. */
    .education-image {
      width:100%;
      height:auto;
    }
  
    /* Set the experience image properties. */
    .experience-image {
      width:23rem;
      height:27rem;
      padding:1rem;
      float:left;
    }
  
    /* Set the skills image responsive to screen size. */
    .skills-image {
      width:98%;
      height:auto;
    }
  
     /* Set the presentation image properties. */
     .presentation-image {
      width:23rem;
      height:27rem;
      padding:1rem;
      float:left;
    }
  
     /* Set the presentation video properties. */
     .presentation-video video {
      display:block;
      margin:0 auto;
      width:22rem;
      height:27rem;
    }
  
    .controls > * {
      /*float:center; */
      width:3.9%;
      height:100%;
    }
  
    /* Set the properties for the author of the quote. */
    .author-quote {
      text-align: center;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
    }
  
    /* Set the properties of the table. */
    .table {
      border-collapse: separate;
      border-spacing: 1rem;
      margin: 1rem auto;
    }
  
    td {
      padding:0.2rem 0.5rem;
      font-size: 0.7rem;
     /* border-radius: 6px; */
     /* border: 1px solid red; */
    }
  
    /* Set the properties for the fonts in the table. */
    .table-h1 {
      font-size:0.85rem;
      font-weight: bold;
    }
  
    /* Set the properties for the fonts in the table. */
    .table-h2 {
      font-weight:bold;
      color: var(--chetwodeblue);
    }
  
    /* Set the properties for the fonts in the table. */
    .table-h3 {
      font-style:italic ;
    }
  
    /* Set the properties for the fonts in the table. */
    .table-date {
      font-weight:bold;
    }
  
    /* Main page image (img) styles - set the image width and border properties. */
    .main-page-image > img {
      max-width:100%;
      border: 10px solid var(--lightpurple);
    }
  
  
    /* Main page styles - set the display to use CSS grid,
       set the properties and the layout of the grid. */
    .main-page {
      display: grid;
      column-gap: 0;
      row-gap: 3rem;
      grid-template-areas: 
      "header" 
      "nav"
      "page-image"
      "content"
      "footer";
    }
  
     /* Bio page styles - set the display to use CSS grid.
       set the properties and the layouot of the grid. */
       .bio-page {
        display: grid;
        column-gap:0;
        row-gap:3rem;
        grid-template-areas: 
        "nav"
        "bioHeader"
        "bioDetails" 
        "footer"
      }
  
    /* Work experience page styles - set the display to use CSS grid.
       set the properties and the layouot of the grid. */
    .experience-page {
      display: grid;
      column-gap:0;
      row-gap:3rem;
      grid-template-areas: 
      "nav"
      "experienceHeader"
      "experienceHighlights" 
      "experienceDetails"
      "footer"
    }
    
    /* Education page styles - set the display to use CSS grid.
       set the properties and the layouot of the grid. */
       .education-page {
        display: grid;
        column-gap:0;
        row-gap:3rem;
        grid-template-areas: 
        "nav"
        "educationHeader"
        "educationDetails" 
        "footer"
      }
  
     /* Skills page styles - set the display to use CSS grid.
       set the properties and the layouot of the grid. */
       .skills-page {
        display: grid;
        column-gap:0;
        row-gap:3rem;
        grid-template-areas: 
        "nav"
        "skillsHeader"
        "skillsDetails" 
        "footer"
      }
  
      /* Presentation page styles - set the display to use CSS grid.
       set the properties and the layouot of the grid. */
       .presentation-page {
        display: grid;
        column-gap:0;
        row-gap:3rem;
        grid-template-areas: 
        "nav"
        "presentationHeader"
        "presentationVideo" 
        "footer"
      }
  
     